{% extends 'base.html' %}

{% block nosotros %}
    {% load static %}
    <!--Grid column-->
  <div class="col-lg-9 mr-auto ml-auto view full-page-intro">
    
    <!-- Card -->
    <div class="card mt-5 mb-3">
      <div class="card-body">
      <!--Section: Nosotros -->
      <section>

        <h3 class="h3 text-center mt-5 mb-5 indigo-text">{{ tituloNo }}</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">
            {% for user in object_list %}
            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <img src="{% static 'assets/media/' %} {{ user.FotoUser }}" class="rounded-circle border-2 border-indigo" width="84" height="94" />
              </div>
              <div class="col-10 ml-4">
                <h5 class="feature-title indigo-text">{{ user.nombUser }} {{ user.apelUser }}
                  <a href="#" target="_blank"><i class="fab fa-github mr-2"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                </h5>
                <p class="grey-text ml-2">{{ user.profeUser }}</p>
                <p class="grey-text">{{ user.TeleUser }}</p>
              </div>
            </div>
            <!--/First row-->
            <div style="height:30px"></div>
            {% endfor %}
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
            <img src="{% static 'assets/img/nosotros.jpg' %}" class="img-fluid z-depth-1-half rounded-circle img-fluid" alt="">
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->
      </section>
      <!--Section: Nosotros-->
      </div>
    </div>
    <!-- Card -->
  </div>
  <!--Grid column-->


 
{% endblock %} 




